.color-swatches {
    display: flex;
    gap: 10px;
    align-items: center;
}
.color-swatch {
    width: 35px;
    height: 35px;
}
.woocommerce div.product form.cart .variations select#pa_color {
    visibility: hidden;
    width: 0;
    height: 0;
    max-width: 0 !important;
    min-width: 0;
    position: absolute;
    left: 0;
}
.woocommerce div.product form.cart .variations tr {
    margin-bottom: .5em;
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
}
.variations td.value {
    display: flex;
    min-height: 65px;
}
button.color-swatch.active {
    border: 3px solid #000;
    width: 36px;
    height: 36px;
}